.nav {
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: white;
  padding: 15px;
  font-size: 2em;
}

.nav a {
  color: white;
  text-decoration: none;
}

.videoContainer {
  height: 5%;
  width: 5%;
}

.chapters-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* two columns */
  gap: 20px; /* space between grid items */
  margin: 20px 0;
}

.chapter {
  display: flex;
  flex-direction: column;
  align-items: center; /* center items vertically in each chapter */
}

.chapter-image {
  width: 70%; /* make images fill the container */
  height: 600px; /* fixed height for images */
  object-fit: cover; /* maintain aspect ratio without distorting the image */
  border-radius: 10px; /* optional, for rounded corners */
}

.pomodoro-clock {
  text-align: center;
  margin-top: 20px;
}

.pomodoro-timer {
  font-size: 1.2em;
  margin: 10px 0;
}

.pomodoro-controls button {
  margin: 5px;
  padding: 5px 10px;
  font-size: 0.8em;
}

.chapter-page {
  display: flex;
}

.sidebar {
  width: 250px; /* Adjust as needed */
  /* additional styling */
}

.sidebar.hidden {
  width: 0;
  overflow: hidden;
}

.content {
  flex-grow: 1;
  padding: 20px;
  /* additional styling for centered and neat content */
}