.nav {
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: white;
  padding: 15px;
  font-size: 2em;
}

.nav a {
  color: white;
  text-decoration: none;
}

.videoContainer {
  height: 5%;
  width: 5%;
}

.chapters-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* two columns */
  gap: 20px; /* space between grid items */
  margin: 20px 0;
}

.chapter {
  display: flex;
  flex-direction: column;
  align-items: center; /* center items vertically in each chapter */
}

.chapter-image {
  width: 70%; /* make images fill the container */
  height: 600px; /* fixed height for images */
  object-fit: cover; /* maintain aspect ratio without distorting the image */
  border-radius: 10px; /* optional, for rounded corners */
}

.pomodoro-clock {
  text-align: center;
  margin-top: 20px;
}

.pomodoro-timer {
  font-size: 1.2em;
  margin: 10px 0;
}

.pomodoro-controls button {
  margin: 5px;
  padding: 5px 10px;
  font-size: 0.8em;
}

.chapter-page {
  display: flex;
}

.sidebar {
  width: 250px;
  position: relative; /* Added for positioning toggle button */
}

/* Styling for the content inside the sidebar */
.sidebar .sidebar-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: red;
}

/* Styling for the toggle button */
.toggle-button {
  position: absolute; /* Position it relative to the sidebar */
  top: 0;
  left: 100%; /* Place it to the right of the sidebar content */
  transform: translateX(-100%); /* Align it with the sidebar edge */
  background-color: #f0f0f0;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.sidebar.hidden .sidebar-content {
  width: 0;
  overflow: hidden;
}

.sidebar.hidden .toggle-button {
  left: 0;
  transform: none; /* Reset transform when sidebar is hidden */
}

.content {
  flex-grow: 1;
  padding: 20px;
}